[submodule "Source/Dependencies/Panshilar"]
	path = Source/Dependencies/Panshilar
	url = git@github.com:herohiralal/Panshilar.git
[submodule "Source/Dependencies/Dvaarpaal"]
	path = Source/Dependencies/Dvaarpaal
	url = git@github.com:herohiralal/Dvaarpaal.git
[submodule "Source/Dependencies/Muzent"]
	path = Source/Dependencies/Muzent
	url = git@github.com:herohiralal/Muzent.git
